.flex {
  display: flex;
  justify-content: center;
}

.white {
  color: white;
}

.albumArt {
  height: 150px;
  margin: 10px;
}

audio {
  width: 225px;
}

.title {
  font-family: "Great Vibes", cursive;
  color: white;
  font-size: 150px;
  margin: 15px;
}

body {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/mocha-grunge.png");
}

.bg-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c4c4c4;
  background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
  margin: 10px;
  border-radius: 30px;
  height: 420px;
  min-width: 230px;
}

.btn {
  background-color: #c4c4c4;
  background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
}
